# Python environments
.venv
venv/

# Python artifacts
__pycache__/
*.pyc

# Docker/Lambda Artifacts
build/
*.zip

# Local configuration and logs
.env
*.log

# API Documentation (for reference only)
api-summary.md